extends layout

block content
    .case-page
        h1.page-header= title
            span.btn-group
                a.btn.btn-sm.btn-default(href=referer, rel='noreferrer') 返回
                a.btn.btn-sm.btn-success(href='/case/new' + '?con_id=' + con_id + '&srv_id=' + (srv_id || '') + '&no=' + (NO || '')) 新增
        h3.sub-header
            | 服务： #{NO}
        .input-group.evn-input
            span.input-group-addon 执行环境
            input.form-control.js-env(type='text')
        
        .panel.panel-default
            table.table.table-striped
                thead
                    tr
                        th Service NO.
                        th Name
                        th Action
                tbody
                    - each caseObj in cases
                        - var tmp_srv_id = srv_id || caseObj._srv_id || ''
                        - var tmp_NO = NO || caseObj.NO || ''
                        tr(data-id=(caseObj._id && caseObj._id.toString()))
                            td= NO
                            td= caseObj.name
                            td.action-group
                                form(method='post', action='/case/result/')
                                    input(type='hidden', name='ids', value=(caseObj._id && caseObj._id.toString()))
                                    a.btn.btn-sm.btn-default(href='/case/' + caseObj._id + '?con_id=' + con_id + '&srv_id=' + tmp_srv_id + '&no=' + tmp_NO) 编辑
                                    a.btn.btn-sm.btn-danger(href='/case/delete/' + caseObj._id) 删除
                                    button.btn.btn-sm.btn-success.js-run(type='submit') 执行
                    - else
                        tr.js-empty
                            td.align-center(colspan=3) 暂无用例
