extends layout

block content
    .case-page(data-id=id, data-srv-id=srv_id, data-no=NO, data-con-id=con_id)
        input(type="hidden", id="js_con_req", value=JSON.stringify(con_req))
        input(type="hidden", id="js_con_res", value=JSON.stringify(con_res))
        h1.page-header
            = title
            span.btn-group
                a.btn.btn-sm.btn-default.js-back-btn(href=referer, rel='noreferrer') 返回
                a.btn.btn-sm.btn-success.js-save-case(href='#') 保存

        -   var loop = function (ary, parentIsList, parentNode) {
        -       if (!ary || !ary.length) {
        -           ary = [{}]
        -       }
        -       var str = [];
        -       parentNode = parentNode || {};
        -       for (var i = 0, len = ary.length, v, isFirst, isList, subNode; i < len; i++) {
        -           v = ary[i];
        -           isFirst = i === 0;
        -           isList = v.metadata === 'List';
        -           subNode = parentNode[v.key];
        -           str.push('<li>');
        -                   str.push('<div class="line"></div>');
        -                   str.push('<div class="input-wrap" data-metadata="' + (v.metadata || '') + '" data-key="' + (v.key || '') + '" data-remark="' + (v.remark || '') + '">');
        -                       str.push('<strong class="text">' + (v.key || '') + '</strong>');
        -                       str.push('<span class="text">' + (v.remark || '') + '</span>');
        -                       if (v.metadata === 'String'){
        -                           str.push('<input type="text" class="js-input form-control" placeholder="String" value="' + (subNode || '') + '">');
        -                       } else if (v.metadata === 'Number') {
        -                           str.push('<input type="number" class="js-input form-control" placeholder="Number" min="0" value="' + ((typeof subNode === 'number' && !Number.isNaN(subNode)) ? subNode : null) + '">');
        -                       } else if (v.metadata === 'Boolean') {
        -                           str.push('<select class="js-boolean">');
        -                               str.push('<option value="1" ' + ((subNode === 1) ? 'selected' : '') + '>True</option>');
        -                               str.push('<option value="0" ' + ((subNode === 0) ? 'selected' : '') + '>False</option>');
        -                           str.push('</select>');
        -                       } else if (v.metadata === 'Array') {
        -                           str.push('<input type="text" class="js-input form-control" placeholder="Array" value="' + (subNode || []).join(',') + '">');
        -                       }
        -                       if (isList) {
        -                          str.push('<button class="js-add btn btn-xs btn-success">add</button>');
        -                       }
        -                       if (parentIsList && i === 0) {
        -                          str.push('<button class="js-delete btn-delete btn btn-xs btn-danger">delete</button>');
        -                       }
        -                   str.push('</div>');
        -                   if (v.metadata === 'Object' || isList) {
        -                       if (Array.isArray(subNode)) {
        -                           subNode.forEach(function(tmpNode){
        -                               str.push('<ul class="' + (isList ? "list-tree" : "") + '">');
        -                                   str.push(loop(v.value, isList, tmpNode));
        -                               str.push('</ul>');
        -                           });
        -                       } else {
        -                           str.push('<ul class="' + (isList ? "list-tree" : "") + '">');
        -                               str.push(loop(v.value, isList, subNode));
        -                           str.push('</ul>');
        -                       }
        -                   }
        -           str.push('</li>')
        -       }
        -       return str.join('');
        -   }

        h3.sub-header Name
        .case-table-wrapper
            input.form-control.js-name(type='text', placeholder='Name', value=name)

        h3.sub-header Request
        .case-table-wrapper
            ul.common-list.js-req
                != loop(con_req, false, case_req)
        strong 直接输入字符串Request对象
        textarea.form-control(id="js_caseReqString", rows=2, style="width:99%")

        h3.sub-header Response
        .case-table-wrapper
            ul.common-list.js-res
                != loop(con_res, false, case_res)
        strong 直接输入字符串Response对象
        textarea.form-control(id="js_caseResString", rows=2, style="width:99%")

    script#tpl_single(type='text/template')
        li
            .input-wrap
                input.form-control.js-key(type='text', placeholder='key')
                input.form-control.js-remark(type='text', placeholder='remark')
                select.js-metadata
                  option(value='String') String
                  option(value='Number') Number
                  option(value='Boolean') Boolean
                  option(value='Array') Array
                  option(value='Object') Object
                  option(value='List') List
                button.btn.btn-xs.btn-danger.btn-delete.js-delete delete
                button.btn.btn-xs.btn-success.js-add add

    script#tpl_extend(type='text/template')
        ul
            li
                .input-wrap
                    input.form-control.js-key(type='text', placeholder='key')
                    input.form-control.js-remark(type='text', placeholder='remark')
                    select.js-metadata
                        option(value='String') String
                        option(value='Number') Number
                        option(value='Boolean') Boolean
                        option(value='Array') Array
                        option(value='Object') Object
                        option(value='List') List
                    button.btn.btn-xs.btn-delete.btn-danger.js-delete delete
                    button.btn.btn-xs.btn-success.js-add add
