extends layout

block content
    .contract-page(data-id=id, data-srv-id=srv_id, data-no=NO)
        h1.page-header= title
            span.btn-group
                a.btn.btn-sm.btn-default(href='/service') 返回
                a.btn.btn-sm.btn-success(href='/contract/new' + '?srv_id=' + srv_id + '&no=' + NO) 新增
        - if (showSubTitle)
            h2.sub-header
                服务：
                = service.name
        
        .panel.panel-default
            table.table.table-striped
                thead
                    tr(data-id="")
                        th Service NO.
                        th Version
                        th Action
                tbody
                    - each contract in contracts
                        tr(data-id=(contract._id && contract._id.toString()))
                            td= service.NO || contract.NO
                            td= contract.version || '暂无版本'
                            td.action-group
                                a.btn.btn-sm.btn-default.js-edit(href='/contract/' + contract._id + '?srv_id=' + srv_id + '&no=' + NO) 编辑
                                a.btn.btn-sm.btn-danger.js-delete(href='/contract/delete/' + contract._id) 删除
                    - else
                        tr.js-empty
                            td.align-center(colspan=2) 暂无契约
