extends layout

block content
    .service-page
        h1.page-header
            = title
            span.btn-group
                a.btn.btn-sm.btn-success.js-add-service(href='#') 添加
            
        .panel.panel-default
            table.table.table-striped.service-table.js-service-table
                thead
                    tr(data-id="")
                        th Name
                        th URL
                        th NO.
                        th Action
                tbody
                    - each service in services
                        tr(data-id=(service._id && service._id.toString()))
                            td
                                input.form-control.js-input-name(type='text', value=service.name, disabled='disabled', data-value=service.name)
                            td
                                input.form-control.js-input-url(type='text', value=service.url, disabled='disabled', data-value=service.url)
                            td
                                input.form-control.js-input-no(type='text', value=service.NO, disabled='disabled', data-value=service.NO)
                            td.action-group
                                a.btn.btn-sm.btn-default.js-edit(href='#') 编辑
                                a.btn.btn-sm.btn-success.js-save(href='#', style='display: none') 确认
                                a.btn.btn-sm.btn-default.js-cancel(href='#', style='display: none') 取消
                                a.btn.btn-sm.btn-danger.js-delete(href='/service/delete/' + service._id) 删除
                                a.btn.btn-sm.btn-default.js-contract(href='/contract/?srv_id=' + service._id) 契约
                    - else
                        tr.js-empty
                            td.align-center(colspan=4) 暂无服务

            script.js-service-tpl-item(type='text/template')
                tr(data-id='')
                    td
                        input.form-control.js-input-name(type='text', data-value='')
                    td
                        input.form-control.js-input-url(type='text', data-value='')
                    td
                        input.form-control.js-input-no(type='text', data-value='')
                    td.action-group
                        a.btn.btn-sm.btn-default.js-edit(href='#', style='display: none') 编辑
                        a.btn.btn-sm.btn-success.js-save(href='#') 确认
                        a.btn.btn-sm.btn-default.js-cancel(href='#') 取消
                        a.btn.btn-sm.btn-default.js-contract(href='#', style='display: none') 契约
                        a.btn.btn-sm.btn-danger.js-delete(href='#', style='display: none') 删除
